build
NHConfig
output
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.TeamCity.user
*.resharper
*.suo
*.swp
*.cache
*.log
*.DS_Store
*.Report.html
*.Report.xml
~$*
obj/
Obj/
bin/
Bin/

*.orig
nhconfig.bin
rake.out
TestResult.xml
WebDeployPackage.log

web.log*
log.txt*
*~
error-*.xml
package.log
timeStamp.dat
.idea/workspace.xml
.idea/tasks.xml

build
src/*.user
src/*/*.user
src/*/bin
src/*/obj
src/_ReSharper.*
src/*.suo
src/*.sln.cache

src/*/*.user
src/*/*/*.user
src/*/*/bin
src/*/*/obj
src/*/*/_ReSharper.*
src/*/*/*.suo
src/*/*/*.sln.cache

src/*/*/*.user
src/*/*/*/*.user
src/*/*/*/bin
src/*/*/*/obj
src/*/*/*/_ReSharper.*
src/*/*/*/*.suo
src/*/*/*/*.sln.cache


TestResult.xml